<style>
    /* Style for the tabs and content container */
    .foundrytodiscord .tabs-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
    }

    /* Style for the tabs */
    .foundrytodiscord .tabs {
        height: 50px;
        /* Change this value to your desired height */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Style for the content area */
    .foundrytodiscord .tabs-content {
        flex-grow: 1;
        overflow: auto;
        box-sizing: border-box;
        padding: 10px;
    }
</style>


<div class="foundrytodiscord tabs-container">
    <div class="foundrytodiscord tabs">
        <nav class="foundrytodiscord tabs">
            <h2 class="item" data-tab="sceneTab">Foundry to Discord: Scene-Thread Mapping
            </h2>
        </nav>
    </div>
    <div style="display: flex; flex: unset;"> <span>
            <p>Select a scene, and associate it with a Discord Thread! All chat from a scene will be directed to the
                associated thread and will override your default Webhook URL or Rolls Webhook URL. To get the ID of your thread,
                simply right-click on your thread in Discord, and <strong>Copy Thread ID</strong>. Make sure your
                Discord is in Developer Mode. Messages sent to Chat Thread IDs and Roll Thread IDs will be sent to
                threads in your main webhook URL and roll webhook URL respectively. You can leave either one blank, but if you want to update the thread IDs, you'll have to delete the entry first.
            </p>
        </span></div>
    <div class="foundrytodiscord tabs-content">
        <div class="tab" data-tab="sceneTab">
            <form>
                <div class="form-group">
                    <label style="text-align: center;" for="sceneId">Select Scene:</label>
                    <select name="sceneId" id="sceneId">
                        <option value="" disabled selected>Select scene</option>
                        {{#each scenes}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label style="text-align: center;" for="chatThreadId">Chat Thread ID:</label>
                    <input type="text" name="chatThreadId" id="chatThreadId">
                    <label style="text-align: center;" for="rollThreadId">Roll Thread ID:</label>
                    <input type="text" name="rollThreadId" id="rollThreadId">
                </div>
                <button type="submit" class="btn btn-primary">Add Scene-Thread Map</button>
            </form>
            <div class="table-container">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Scene Name</th>
                            <th>Chat Thread ID</th>
                            <th>Roll Thread ID</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody id="config-rows">
                        <!-- Config rows will be added here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>